.title{
  text-align: center;
  color: green;
}

h1{
  color:purple;
  text-align: center;
  animation:sizeMe 5s ease-in-out infinite alternate;
}



@keyframes sizeMe {
  from{transform: scale(1);}
  to{transform: scale(2);}
}

.problem{
  text-align: center;
}
